<div class="container">
  <div class="row">
    <h2 class="center-align">Restful Tasks API</h2>
    <hr>
    <div class="center-align">
      <button (click)='getAllTask()' 
      class="btn waves-effect waves-light">GET ALL TASKS</button>
    </div>
  </div>
  <div class="row">
    <form (submit)="onSubmit()">
      <br>
      <input type="text" name="newTask.title" [(ngModel)]="newTask.title" />
      <input type="text" name="newTask.description"
      [(ngModel)]="newTask.description" />
      <button>Sumbit</button>
    </form>
  </div>
  <div class="row valign-wrapper" *ngFor='let task of tasks'>
    <p>{{task.title}}</p>
    <p>{{task.description}}</p>
    <button (click)='deleteTask(task._id)'>DELETE</button>
    <button (click)="getEditForm(task._id)">EDIT</button>
  </div>
  <div class="row editTask" *ngIf="updateForm">
    <h2>Edit the Task</h2>
    {{getTask | json }}
    <form (submit)="editTask(getTask._id)">
      Title: <input type="text" [(ngModel)]="getTask.title">
      Description: <input type="text" [(ngModel)]="getTask.description">
      <button>EDIT</button>
    </form>
  </div>
</div>
